.cafe-name {
  display: block;
  height: 60px;
  margin-inline: auto;
}

.menu-title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
  margin-top: -10px;
  color: #222;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Playfair Display SC', serif; /* ili 'Playfair Display SC', serif */
}

/* Kartica kategorije */
.menu-card {
  position: relative;
  width: 100%;
  height: 144px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.3rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-card:hover {
  transform: scale(1.02);
}

.menu-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  z-index: 1;
}

.menu-card span {
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.menu-header-text {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  color: #222;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

/* Responsive fallback */
@media (min-width: 768px) {
  .menu-content {
    max-width: 500px;
    margin: 0 auto;
  }
}
