<div class="menu-container">

  <img src="assets/naslov.png" alt="Naslov" class="logo" />

  <a routerLink="/meni/alkoholna-pica" class="circle alkoholno">
    <div class="circle-bg"></div>
    <img src="assets/alkoholno_pice.png" alt="Alkoholna pića" class="circle-image" />
    <span class="circle-label">Alkoholna pića</span>
  </a>

  <a routerLink="/meni/bezalkoholna-pica" class="circle nealkoholno">
    <div class="circle-bg"></div>
    <img src="assets/bezalkoholno_pice.png" alt="Bezalkoholna pića" class="circle-image" />
    <span class="circle-label">Bezalkoholna pića</span>
  </a>

  <a routerLink="/meni/hrana" class="circle hrana">
    <div class="circle-bg"></div>
    <img src="assets/hrana.png" alt="Hrana" class="circle-image" />
    <span class="circle-label">Hrana</span>
  </a>

</div>
